anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.3
asgiref==3.2.10
asn1crypto==1.0.1
aspy.yaml==1.3.0
astropy==3.2.1
atomicwrites==1.3.0
Automat==0.8.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.9.3
bitarray==1.0.1
bkcharts==0.2
black==19.10b0
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
cached-property==1.5.1
Cerberus==1.3.2
certifi==2020.6.20
cffi==1.14.3
cfgv==3.1.0
chardet==3.0.4
cloudpickle==1.2.2
clyent==1.2.2
comtypes==1.1.7
conda==4.9.0
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0
cryptography==3.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
daiquiri==2.1.1
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.10
distlib==0.3.0
distributed==2.5.2
dj-database-url==0.5.0
Django==3.1.2
django-admin-rangefilter==0.6.1
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-filter==2.3.0
django-heroku==0.3.1
django-mathfilters==1.0.0
django-model-utils==4.0.0
django-mysql==3.8.1
django-pdb==0.6.2
django-phonenumber-field==5.0.0
django-rest-knox==4.1.0
django-serializer==0.0.8
djangorestframework==3.12.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
dynaconf==3.1.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
fsspec==0.5.2
future==0.17.1
gevent==1.4.0
git-pull-request==6.0.1
glob2==0.7
greenlet==0.4.15
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
hvac==0.10.5
hyperlink==17.3.1
identify==1.4.19
idna==2.10
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
incremental==17.5.0
installer==0.1.1
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
javascript==2015.32.59
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
Js2Py==0.70
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
keyring==18.0.0
kiwisolver==1.1.0
knox==0.1.0
libarchive-c==2.8
llvmlite==0.29.0
locket==0.2.0
loguru==0.5.3
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
mysql==0.0.2
mysqlclient==2.0.1
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.5
node==0.9.25
nodeenv==1.4.0
nodejs==0.1.1
nose==1.3.7
notebook==6.0.1
npm==0.1.1
numba==0.45.1
numexpr==2.7.0
numpydoc==0.9.1
odict==1.7.0
olefile==0.46
openpyxl==3.0.0
optional-django==0.1.0
orderedmultidict==1.0.1
packagebuilder==0.1.0
packaging==20.4
pandocfilters==1.4.2
parsel==1.5.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathspec==0.8.0
patsy==0.5.1
pep517==0.8.2
pep8==1.7.1
phonenumbers==8.12.10
pickleshare==0.7.5
Pillow==6.2.0
pip-shims==0.5.3
pipenv==2018.11.26
pipwin==0.5.0
pkginfo==1.5.0.1
plette==0.2.3
pluggy==0.13.0
plumber==1.5
ply==3.11
pre-commit==1.10.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
Protego==0.1.16
psutil==5.6.3
psycopg2==2.8.4
psycopg2-binary==2.8.5
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.3
PyDispatcher==2.0.5
pyflakes==2.1.1
PyGithub==1.52
Pygments==2.4.2
PyHamcrest==1.9.0
pyjsparser==2.7.1
PyJWT==1.7.1
pymongo==3.10.1
PyMySQL==0.10.0
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.12.3
PyQt5-sip==12.8.0
PyQtWebEngine==5.12.1
pyreadline==2.1
pyrsistent==0.15.4
pySmartDL==1.3.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
pytest-runner==5.2
python-dotenv==0.14.0
python-json-logger==0.1.11
pytz==2020.1
PyWavelets==1.0.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
queuelib==1.5.0
react==4.3.0
regex==2020.6.8
requests==2.24.0
requirements-dev.txt==0.0.5
requirementslib==1.5.13
rope==0.14.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
Scrapy==1.6.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==2.0.1
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.9
sqlparse==0.4.1
statsmodels==0.10.1
sympy==1.4
tables==3.5.2
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
tomlkit==0.7.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
Twisted==19.10.0
tzlocal==2.1
unicodecsv==0.14.1
urllib3==1.25.11
virtualenv==20.0.7
virtualenv-clone==0.5.3
vistir==0.5.2
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==5.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
win32-setctime==1.0.3
wincertstore==0.2
wordcloud==1.6.0
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
yaspin==1.0.0
zict==1.0.0
zipp==0.6.0
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==4.7.1
zope.lifecycleevent==4.3
zope.proxy==4.3.5
